@font-face {
    font-family: 'Code Next-Trial-SemiBold';
    src: url('res/CodeNext-Trial-SemiBold.ttf') format('opentype');
}

body {
    font-family: 'Code Next-Trial-SemiBold', sans-serif;
    background-color: #EDF1F6; /* Цвет Porcelain */
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #334EAC; /* Цвет Royal */
    padding: 20px 40px;
}

header h1 {
    margin: 0;
    color: #FFF9F0; /* Цвет Jicama */
    font-size: 1.8em;
}

header nav a {
    color: #FFF9F0; /* Цвет Jicama */
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2em;
}

header nav img {
    vertical-align: middle;
}

/* Основной контент */
main {
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

main h2 {
    color: #081F5C; /* Цвет Midnight */
    margin-bottom: 20px;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #EDF1F6; /* Цвет Porcelain */
    border-radius: 10px;
    overflow: hidden;
}

thead th {
    background-color: #334EAC; /* Цвет Royal */
    color: #FFF9F0; /* Цвет Jicama */
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #BAD6EB; /* Цвет Sky */
}

tbody tr:nth-child(odd) {
    background-color: #EDF1F6; /* Цвет Porcelain */
}

tbody tr:nth-child(even) {
    background-color: #FFF; /* Белый */
}

tbody tr:last-child td {
    border-bottom: none;
}

/* Кнопки действий */
button {
    font-size: 0.9em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #7096D1; /* Цвет China */
    color: #FFF9F0; /* Цвет Jicama */
}

.edit-btn:hover {
    background-color: #334EAC; /* Цвет Royal */
}

.delete-btn {
    background-color: #BAD6EB; /* Цвет Sky */
    color: #081F5C; /* Цвет Midnight */
}

.delete-btn:hover {
    background-color: #7096D1; /* Цвет China */
}

section form {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступы между элементами */
    margin-bottom: 30px;
}
form select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #BAD6EB; /* Цвет Sky */
    border-radius: 5px;
}

form button {
    font-family: 'Code Next-Trial-SemiBold', sans-serif;
    background-color: #081F5C; /* Цвет Midnight */
    color: #FFF9F0; /* Цвет Jicama */
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #334EAC; /* Цвет Royal */
}

form input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #BAD6EB; /* Цвет Sky */
    border-radius: 5px;
    width: 300px;
}

.hidden {
    display: none;
}

#editDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}